extends base

block content
    img(src= "/"+loggedInUser.avatarUrl alt="avatar" width="100" hight="100")
    if errorMessage 
        span= errorMessage
    form(method="post" enctype="multipart/form-data")
        label(for="avatar") Avatar
        input(type="file" id="avatar" name="avatar" accept="image/*")
        input(type="text" placeholder="name" name="name" value=loggedInUser.name required)
        input(type="email" placeholder="email" name="email" value=loggedInUser.email required)
        input(type="text" placeholder="username" name="username" value=loggedInUser.username required)
        input(type="text" placeholder="Location" name="location" value=loggedInUser.location required)
        input(type="submit" value="Update Profile")
        if !loggedInUser.socialOnly
            hr
            a(href="change-password") Change Password &rarr;