extends base

block content 
    div
        p= video.description
        small= video.createdAt
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    form(method="post" action=`${video.id}/delete`)
        input(type="submit" value="Delete Video")
    //- a(href=`${video.id}/delete`) Delete Video &rarr;
